<link rel="stylesheet" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h2><%= msg %></h2>
    <form action="/process_login" method="post" class="login-form">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button>login</button>
      <p class="message">Not Registered?&nbsp;<a href="#">Create</a>&nbsp;an account</p>
    </form>
  </div>
</div>